{% extends 'base.html' %}
{% load static %}
{% load asset %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/asset_list.css' %}">
{% endblock %}
{% block main %}
<div id="chart_div"></div>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Hide</th>
        <th><a href="{% url 'asset:create' %}">create</a></th>
    </tr>
    </thead>
    <tbody>
    {% for asset in asset_list %}
    <tr>
        <td>{{ asset.name }}</td>
        <td>{{ asset.hide }}</td>
        <td>
            <a href="{% url 'asset:value:list' asset.pk %}">values</a>
            <a href="{% url 'asset:update' asset.pk %}">update</a>
            <a href="{% url 'asset:delete' asset.pk %}">remove</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'pagination.html' %}
{% endblock %}
{% block script %}
<script src="{% static 'js/asset_list.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

          var data = google.visualization.arrayToDataTable([
            ['Asset', 'Variation',],
            {% for asset in asset_list|sum_delta %}['{{ asset.name }}', {{ asset.sum }}],
            {% endfor %}
          ]);

          var options = {
            title: 'Asset Variation',
            chartArea: {width: '50%'},
             legend: { position: 'none' },
            hAxis: {
                title: 'Variation'
            },
            vAxis: {
              title: 'Asset'
            }

          };

          var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

          chart.draw(data, options);
        }
</script>
{% endblock %}