{% extends 'base.html' %}
{% load static %}
{% block link %}
{% endblock %}

{% block header %}
{% if asset_name %}
<nav>
    <ol>
        <li><a href="{% url 'asset:list' %}">Asset</a></li>
        <li><a href="{% url 'asset:value:list' view.kwargs.asset_id %}">Values of {{ asset_name }}</a></li>
        <li>Formulário</li>
    </ol>
</nav>
{% endif %}
{% endblock %}

{% block main %}
<form id="value-form" method="post">
    {% csrf_token %}
    <table>
        <tbody>
        {{ form }}
        </tbody>
    </table>
</form>
<button form="value-form" type="submit">{% if value %}Atualizar{% else %}Criar{% endif %}</button>
{% endblock %}

{% block script %}
<script src="{% static 'js/value_form.js' %}"></script>
{% endblock %}