{% extends 'base.html' %}
{% load humanize %}

{% block link %}
{% endblock %}

{% block header %}
{% if asset_name %}
<nav>
    <ol>
        <li><a href="{% url 'asset:list' %}">Asset</a></li>
        <li>Values of {{ asset_name }}</li>
    </ol>
</nav>
{% endif %}
{% endblock %}

{% block main %}
<form id="form">
    <table>
        <tbody>{{ filter_form }}{{ ordering_form }}</tbody>
    </table>
</form>
<button form="form" type="submit">Search</button>

{% if value_list %}
<div id="price_chart_div"></div>
<div id="delta_chart_div"></div>
{% endif %}

<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Price</th>
        <th>Transaction</th>
        <th>{% if view.kwargs.asset_id %}<a href="{% url 'asset:value:create' view.kwargs.asset_id %}">Create</a>{% endif %}</th>
    </tr>
    </thead>
    <tbody>
    {% for value in value_list %}
    <tr>
        <td>{{ value.date }}</td>
        <td>R$ {{ value.price|intcomma }}</td>
        <td>R$ {{ value.transaction|intcomma }}</td>
        <td><a href="{% url 'value:update' value.pk %}">update</a> <a
                href="{% url 'value:delete' value.pk %}">delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'pagination.html' %}
{% endblock %}

{% block script %}
{% if value_list %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart'], 'language': 'pt'});
    google.charts.setOnLoadCallback(drawPriceChart);
    google.charts.setOnLoadCallback(drawDeltaChart);

    function drawPriceChart() {
        var table = new google.visualization.DataTable();
        table.addColumn('date', 'Date');
        table.addColumn('number', 'Price');
        table.addRows([
            {% for value in value_list %}
            [new Date('{{ value.date|date:'Y/m/d' }}'), {{ value.price }}],
            {% endfor %}
        ]);

        var options = {
            title: 'Price',
            legend: 'none',
            hAxis: {
                title: 'Date',
                format: 'd/M/yy'
            },
            vAxis: {
                title: 'Value',
                format:'currency'
            },
            displayAnnotations: true
        };

        var chart = new google.visualization.LineChart(document.getElementById('price_chart_div'));

        chart.draw(table, options);
    }

    function drawDeltaChart() {
        var table = new google.visualization.DataTable();
        table.addColumn('date', 'Date');
        table.addColumn('number', 'Price');
        table.addRows([
            {% for value in value_list %}
            [new Date('{{ value.date|date:'Y/m/d' }}'), {{ value.delta }}],
            {% endfor %}
        ]);

        var options = {
            title: 'Delta',
            legend: 'none',
            hAxis: {
                title: 'Date',
                format: 'd/M/yy'
            },
            vAxis: {
                title: 'Value',
                format:'currency'
            },
            displayAnnotations: true
        };

        var chart = new google.visualization.LineChart(document.getElementById('delta_chart_div'));

        chart.draw(table, options);
    }
</script>
{{ filter_form.media }}
{% endif %}
{% endblock %}